---
import "./index.css"
import cartimg1 from "../../assets/insta-img.png"
import cartimg2 from "../../assets/insta-img2.png"
import cartimg3 from "../../assets/insta-img3.png"
import cartimg4 from "../../assets/insta-img4.png"
import cartimg5 from "../../assets/insta-img5.png"
import cartimg6 from "../../assets/insta-img6.png"
---
<div>
<div class="instagram-main-container">
<div class="instagram-text">
    <hr class="instagram-text-hr"/>
    <p class="instagram-text-follow">FOLLOW US ON instagram</p>
</div>
<button class="follow us-btn">follow us</button>
</div>
<div class="cards">
</div class="card-1">
<img src={cartimg1} class="collection-image" alt="">
</div>
<div class="card-2">
    <img src={cartimg2} class="collection-image" alt="">
    <img src={cartimg3} class="collection-image" alt="">
    <img src={cartimg4} class="collection-image" alt="">
    <img src={cartimg5} class="collection-image" alt="">
</div>
<div class="card-3">
    <img src={cartimg6} class="collection-image" alt="">
</div>
</div>
</div>
</div>